<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogs Still Exist?</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body class="has-background-info">
     <div class="wrapper">
      <header>
        <h1>
          <a class='has-text-centered has-text-danger is-size-1 has-text-weight-bold' href="/">Blogs Still Exist?</a>
        </h1>
        <nav>
          {{#if loggedIn}}
            <a class='is-size-4 is-uppercase has-text-weight-medium has-text-danger' href="/homepage">Homepage</a>
            <button class='is-pulled-right'id="logout" class="btn-no-style">logout</button>
          {{else}}
            <a class='is-size-4 is-uppercase has-text-weight-medium has-text-danger'href="/login">login</a>
          {{/if}}
        </nav>
      </header>
      <main>
        {{{body}}}
      </main>
    </div>
    {{#if loggedIn}}
      <script src="/javascript/logout.js"></script>
    {{/if}}
    
</body>
</html>